In [ ]:
The SQL query to retrieve all rows from the "customers" table where the "country" column is equal to "USA" and
the "age" column is greater than 25

In [ ]:
SELECT * FROM customers WHERE country = 'USA' AND age > 25;

In [ ]:
When we execute this query with the data provided in the question, the result will be:

In [ ]:
customer_id	customer_name	country	age
1	John Smith	USA	30
5	Tom Johnson	USA	37